body{
  display: grid;
  place-items: center;
  height: 100vh;
  
  background-color: #D9D7B6;
}

#board {
    display: grid;
    grid-template-columns: repeat(var(--size), minmax(24px, 1fr));
    background-color: #1f2729;
    width: 80vmin;
    aspect-ratio: 1 / 1;
    box-shadow:
    0.5px 0.6px 0.9px hsl(0deg 0% 0% / 0.57),
    3px 3.6px 5.3px -1.2px hsl(0deg 0% 0% / 0.58),
    11.6px 13.9px 20.5px -2.4px hsl(0deg 0% 0% / 0.59);
  


  } 

.board::after{
  content: "";
  width: 100%;
  height: 100%; 
  position: absolute;
  filter: drop-shadow(0px 0px) blur (20px);
  z-index: -1;
}

  
  .cell {
    display: grid;
    text-align: center;
    cursor: pointer;
    user-select: none;
    border: 0.01px solid #182325;
    box-shadow: 0 1px #000A0C, 0 2px #000608, 0 3px #0A1517;
    overflow: hidden;
    aspect-ratio: 1 / 1;
    border-radius: 1px;

    transition: all .5s ease;
  }

  cell:hover {
    background-color: #001F3F;
}
  
  #board .cell:nth-child(even) {
    background-color: #262d2e;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    
  }

  #board .cell:nth-child(odd) {
    background-color: #202829;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

  }

  #board .cell.open:not(.mine) {
    cursor: default;
    background-color: #EDE8D0;
    color:#a40000;
    border: none;
    border-radius: 1px;

    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

  #board .cell.open:not(.mine):nth-child(odd){
    background-color: #EDE8D0;
  }

  #board .cell.open:not(.mine):nth-child(even){
    background-color: #C9C5B1;
  }



  
  #board .cell.mine {
    background: red;

  }

  
  